html, body{
    width: 95%;
    height: 90vh;
    margin: auto;
    padding: 2.5%;
    max-width: 1000px;
    background: white;
}

body{
    font-size: 1.5em;
    font-family: monospace;
}

h1{
    text-align: center;
    font-size: 2em;
}

section{
    border: 1px solid #dedede;
    margin: 15px auto 15px auto;
    padding: 0 5px;
}

#rangeValue, #formule, #img1, #img2{
    text-align: center;
    font-size: 1.5em;
}

#rangeValue{
    background: rgb(255,205,205);
}

#content span{
    display: block;
}

#formule{
    font-size: 1.5em;
}

#content #img1, #content #img2, #content #description, #content #description #hypotenuse, #content #description #ab, #content #reciproque, #content #fini{
    display: none;
}

hr{
    width: 75%;
    margin: 15px auto 15px auto;
}

.slider {
    margin-left: 5%;
    width: 90%;
    height: 25px;
    background: #efefef;
    transition: background 0.2s;
    outline: none;
}

.slider:hover {
    background: white;
    transition: background 0.2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #bcbcbc;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #bcbcbc;
    cursor: pointer;
}